@import "../../helpers/css/Font.css";

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    border: 0;
    border-radius: 15px;
    transition: transform 0.1s ease-out;
    background-image: linear-gradient(
        225deg,
        #7dcbe6 0%,
        #62a0b5 100%);
    color: #fafafa;
    font-family: 'SF Pro Regular', sans-serif;
    font-size: 40px;
    box-shadow: 0 0 10px rgba(63, 104, 117, 0.35);
}

.button:hover {
    text-shadow: 0 0 5px rgba(250, 250, 250, 0.5);
    background-image: linear-gradient(
        225deg,
        #62a0b5 0%,
        #3f6875 100%);
}

.button:active {
    outline: 0;
    border: 0;
    border-radius: 15px;
    transform: scale(0.95);
}

.button-operator, 
.button-equal, 
.button-clear {
    background-image: linear-gradient(
        225deg,
        #cfd155 0%,
        #7c7d40 100%);
}

.button-operator:hover,
.button-equal:hover,
.button-clear:hover {
    background-image: linear-gradient(
        225deg,
        #7c7d40 0%,
        #56572c 100%);
    text-shadow: 0 0 5px rgba(250, 250, 250, 0.5);
}
