@import "../../helpers/css/Font.css";

@keyframes slideUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    } 
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.calculator {
    width: 500px;
    height: 700px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background: linear-gradient(
        225deg,
        #4f4f4f 0%,
        #3b3b3b 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 15px;
    opacity: 0;
    animation: slideUp 1s ease-out forwards;
    animation-delay: 2s;
}

.calculator > * {
    margin: 0px;
}
