@import "../../helpers/css/Font.css";

.keyboard {
    display: grid;
    margin: 20px;
    width: 460px;
    height: 460px;
    grid-template-rows: 100px 100px 100px 120px;
    grid-template-columns: 100px 100px 100px 120px;
    gap: 13px;
}
