@keyframes slideUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    } 
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 75px;
}

.content-h1 {
    color: #fafafa;
    font-family: 'SF Pro Regular', sans-serif; 
    font-size: 80px;
    opacity: 0;
    text-shadow: 0 0 50px rgba(250, 250, 250, 0.35);
    animation: slideUp 1s linear forwards;
    animation-delay: 0.5s;
}

.content-h2 {
    color: #fafafa;
    font-family: 'SF Pro Regular', sans-serif; 
    font-size: 55px;
    text-shadow: 0 0 50px rgba(250, 250, 250, 0.35);
    margin: -40px;
    opacity: 0;
    animation: slideUp 1s linear forwards;
    animation-delay: 1.5s;
}
