* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    min-height: 100%;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(
        120deg,
        #5ea4ff,
        #4287f5,
        #4842f5,
        #8c25fa,
        #500363
    );
    background-size: 300% 300%;
    animation: gradientShift 10s ease-in-out infinite;
}
